<div>
  <h2 id="page-heading" data-cy="JobRecordHeading">
    <span jhiTranslate="jobadminApp.jobRecord.home.title">Job Records</span>

    <div class="d-flex justify-content-end">
      <!-- ADAPTED -->
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jobadminApp.jobRecord.home.refreshListLabel">Refresh List</span>
      </button>

      <button class="btn btn-danger me-2" (click)="deleteAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Delete all</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job-record"
        [routerLink]="['/job-record/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jobadminApp.jobRecord.home.createLabel"> Create a new Job Record </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="jobRecords?.length === 0">
    <span jhiTranslate="jobadminApp.jobRecord.home.notFound">No Job Records found</span>
  </div>

  <div class="row">
    <label style="width: 5%; text-align: right" for="field_status">State</label>
    <select style="width: 20%; padding-left: 10px" id="field_status" [(ngModel)]="statusFilter">
      <option [ngValue]="null">--- all ---</option>
      <option *ngFor="let jobStatusEnum of jobStatusEnumValues" [value]="jobStatusEnum">
        {{ 'jobadminApp.JobStatusEnum.' + jobStatusEnum | translate }}
      </option>
    </select>
    <label style="width: 15%; text-align: right" for="field_process">Process</label>
    <select style="width: 20%; padding-left: 10px" id="field_process" [(ngModel)]="processFilter">
      <option [ngValue]="null" selected>--- all ---</option>
      <option [ngValue]="processOption.id" *ngFor="let processOption of processesSharedCollection">
        {{ processOption.name }} ({{ processOption.key }})
      </option>
    </select>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="jobRecords && jobRecords.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jobAcceptedTimestamp">
            <div class="d-flex">
              <span jhiTranslate="jobadminApp.jobRecord.jobAcceptedTimestamp">Job Accepted Timestamp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastEventTimestamp">
            <div class="d-flex">
              <span jhiTranslate="jobadminApp.jobRecord.lastEventTimestamp">Last Event Timestamp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastRecordUpdateTimestamp">
            <div class="d-flex">
              <span jhiTranslate="jobadminApp.jobRecord.lastRecordUpdateTimestamp">Last Record Update Timestamp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Duration (ms)</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>View Lag (ms)</span>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="jobadminApp.jobRecord.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pausedBucketKey">
            <div class="d-flex">
              <span jhiTranslate="jobadminApp.jobRecord.pausedBucketKey">Paused Bucket Key</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="process.id">
            <div class="d-flex">
              <span jhiTranslate="jobadminApp.jobRecord.process">Process</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobRecord of jobRecords; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/job-record', jobRecord.id, 'view']">{{ jobRecord.id }}</a>
          </td>
          <td>{{ jobRecord.jobAcceptedTimestamp | formatMediumDatetime }}</td>
          <td>{{ jobRecord.lastEventTimestamp | formatMediumDatetime }}</td>
          <td>{{ jobRecord.lastRecordUpdateTimestamp | formatMediumDatetime }}</td>
          <td>{{ jobRecord.lastEventTimestamp ? jobRecord.lastEventTimestamp.diff(jobRecord.jobAcceptedTimestamp) : '-' }}</td>
          <td>{{ jobRecord.lastRecordUpdateTimestamp ? jobRecord.lastRecordUpdateTimestamp.diff(jobRecord.lastEventTimestamp) : '-' }}</td>
          <td jhiTranslate="{{ 'jobadminApp.JobStatusEnum.' + jobRecord.status }}">{{ jobRecord.status }}</td>
          <td>{{ jobRecord.pausedBucketKey }}</td>
          <td>
            <div *ngIf="jobRecord.process">
              <a [routerLink]="['/process', jobRecord.process.id, 'view']">{{ jobRecord.process.name }} ({{ jobRecord.process.key }})</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/job-record', jobRecord.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/job-record', jobRecord.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(jobRecord)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="jobRecords && jobRecords.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
