<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-process-heading" data-cy="ProcessCreateUpdateHeading" jhiTranslate="jobadminApp.process.home.createOrEditLabel">
        Create or edit a Process
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jobadminApp.process.key"
            for="field_key"
            [ngbTooltip]="'jobadminApp.process.help.key' | translate"
            >Key</label
          >
          <input type="text" class="form-control" name="key" id="field_key" data-cy="key" formControlName="key" />
          <div *ngIf="editForm.get('key')!.invalid && (editForm.get('key')!.dirty || editForm.get('key')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('key')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jobadminApp.process.name"
            for="field_name"
            [ngbTooltip]="'jobadminApp.process.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jobadminApp.process.activation"
            for="field_activation"
            [ngbTooltip]="'jobadminApp.process.help.activation' | translate"
            >Activation</label
          >
          <select class="form-control" name="activation" formControlName="activation" id="field_activation" data-cy="activation">
            <option [ngValue]="null">{{ 'jobadminApp.ActivationEnum.null' | translate }}</option>
            <option *ngFor="let activationEnum of activationEnumValues" [value]="activationEnum">
              {{ 'jobadminApp.ActivationEnum.' + activationEnum | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('activation')!.invalid && (editForm.get('activation')!.dirty || editForm.get('activation')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('activation')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jobadminApp.process.agentKey"
            for="field_agentKey"
            [ngbTooltip]="'jobadminApp.process.help.agentKey' | translate"
            >Agent Key</label
          >
          <input type="text" class="form-control" name="agentKey" id="field_agentKey" data-cy="agentKey" formControlName="agentKey" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jobadminApp.process.bucketKeyIfPaused"
            for="field_bucketKeyIfPaused"
            [ngbTooltip]="'jobadminApp.process.help.bucketKeyIfPaused' | translate"
            >Bucket Key If Paused</label
          >
          <input
            type="text"
            class="form-control"
            name="bucketKeyIfPaused"
            id="field_bucketKeyIfPaused"
            data-cy="bucketKeyIfPaused"
            formControlName="bucketKeyIfPaused"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
